<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{ 
				color: #40007d;
			}
		</style>
	</head>
	<body>
		<img src="{$url_base}public/image/logo.jpg" class="resize" />
		<div class="nav navbar navbar-default navbar-fixed-top">
			<ul class="nav navbar-nav">
				<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
				<li><a href="{$url_base}">Accueil</a></li>
				<li><a href="{$url_base}Test/index">Menu test page </a></li>
				<li><a href="{$url_base}Test/getId/1">Menu test get id page </a></li>
				<li><a href="{$url_base}Test/liste">Menu test list page </a></li>
				<li><a href="{$url_base}Upload/index">upload file </a></li>
				<li><a href="{$url_base}PdfGenerator/generate">Samane Generate pdf file </a></li>
				<li><a href="{$url_base}ExcelGenerator/generate">Samane Generate excel file </a></li>
				<li><a href="{$url_base}ExcelGenerator/read">Samane read excel file </a></li>
				<li><a href="{$url_base}Email/sendMail">Samane Mailing </a></li>
			</ul>
		</div>
		<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel panel-info">
				<div class="panel-heading">BIENVENUE A VOTRE PLATEFORME DE GESTION DES EMPLOIS</div>
				<div class="panel-body">
					<div class="alert alert-success" style="font-size:18px; text-align:justify;">
						Vous etes jeunes et ambitieux! et vous etes à la recherche d'un job.
						Vous etes au bon endroit!
						<br/>Notre plateforme est concu pour faciliter aux jeunes diplomés la recherche d'un emploi.
						 Consultez les offres disponibles et postuler pour celles adequates à votrs profil.
					</div>
					REDIGER BIEN VOTRE CV ET TANTER VOTRE CHANCE!
					<br/>
					<h1>LE TRAVAIL DES JEUNES NOTRE PREOCCUPATION MAJEURE!!!! </h1>
				</div>
			</div>
		</div>
		
	</body>
</html>
		
